<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="EmployeeDepartmentConnectionString"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost;Database=EmployeeDepartment;Connection Timeout=5;Integrated Security=false;Password=1tF1JgxOVqb4pqZ39nrp;User=deptuser;" />
	</connectionStrings>
</configuration>